RewriteEngine On


RewriteRule  ^about$                                   about.php                          [L]
RewriteRule  ^contact$                                 contact.php                        [L]
RewriteRule  ^blog$                                    blog.php                           [L]
RewriteRule  ^blog/(\d+)$                              blog.php?p=$1                      [L]
RewriteRule  ^post/(.*)$/?$                            post.php?slug=$1                   [L]
RewriteRule  ^cart$                                    cart.php                           [L]
RewriteRule  ^checkout$                                checkout.php                       [L]
RewriteRule  ^terms$                                   terms.php                          [L]
RewriteRule  ^privacy$                                 privacy.php                        [L]
RewriteRule  ^faq$                                     faq.php                            [L]
RewriteRule  ^instructors$                             instructors.php                    [L]
RewriteRule  ^course-category$                         course-category.php                [L]
RewriteRule  ^instructors/(\d+)$                       instructors.php?p=$1               [L]
RewriteRule  ^instructor/(.*)$/?$                      instructor.php?id=$1               [L]
RewriteRule  ^course/(.*)$/?$                          course.php?slug=$1                 [L]

RewriteRule  ^login$                                   login.php                          [L]
RewriteRule  ^registration$                            registration.php                   [L]
RewriteRule  ^forget-password$                         forget-password.php                [L]

RewriteRule  ^student-dashboard$                       student-dashboard.php              [L]
RewriteRule  ^student-wishlist$                        student-wishlist.php               [L]
RewriteRule  ^student-profile$                         student-profile.php                [L]
RewriteRule  ^student-courses$                         student-courses.php                [L]
RewriteRule  ^student-course/(.*)$/?$                  student-course.php?id=$1           [L]
RewriteRule  ^student-order$                           student-order.php                  [L]
RewriteRule  ^student-order-invoice/(.*)$/?$           student-order-invoice.php?order_no=$1    [L]
RewriteRule  ^student-review$                          student-review.php                 [L]
RewriteRule  ^student-message$                         student-message.php                [L]
RewriteRule  ^student-logout$                          student-logout.php                 [L]

RewriteRule  ^instructor-dashboard$                    instructor-dashboard.php               [L]
RewriteRule  ^instructor-course-create$                instructor-course-create.php           [L]
RewriteRule  ^instructor-course-delete/(.*)$/?$        instructor-course-delete.php?id=$1     [L]
RewriteRule  ^instructor-courses$                      instructor-courses.php                 [L]
RewriteRule  ^instructor-coupon-view$                  instructor-coupon-view.php             [L]
RewriteRule  ^instructor-coupon-setup/(.*)$/?$         instructor-coupon-setup.php?id=$1      [L]
RewriteRule  ^instructor-profile$                      instructor-profile.php                 [L]
RewriteRule  ^instructor-message$                      instructor-message.php                 [L]
RewriteRule  ^instructor-revenue$                      instructor-revenue.php                 [L]
RewriteRule  ^instructor-withdraw$                     instructor-withdraw.php                [L]
RewriteRule  ^instructor-logout$                       instructor-logout.php                  [L]

RewriteRule  ^instructor-course-edit-basic/(.*)$/?$    instructor-course-edit-basic.php?id=$1    [L]
RewriteRule  ^instructor-course-edit-featured-photo/(.*)$/?$  instructor-course-edit-featured-photo.php?id=$1    [L]
RewriteRule  ^instructor-course-edit-featured-banner/(.*)$/?$  instructor-course-edit-featured-banner.php?id=$1    [L]
RewriteRule  ^instructor-course-edit-featured-video/(.*)$/?$  instructor-course-edit-featured-video.php?id=$1    [L]
RewriteRule  ^instructor-course-edit-curriculum/(.*)$/?$  instructor-course-edit-curriculum.php?id=$1    [L]
RewriteRule ^instructor-course-edit-curriculum-lesson/([0-9]+)/([0-9]+)/?$  instructor-course-edit-curriculum-lesson.php?course_id=$1&module_id=$2 [L]
